.icon {
    opacity: 0;
}
.icon.active {
    opacity: 1;
}
.icon .animation-layer {
    stroke: var(--color-beige);
    animation: dash-out 1.9s ease-in-out forwards;
}
.icon.active .animation-layer {
    opacity: 1;
    animation: dash 1.9s ease-in-out forwards;
}

.icon.active .layer-2.animation-layer {
    animation-delay: 1.8s;
}
.icon .layer-2.animation-layer {
    animation-delay: 0s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    from {
        stroke-dashoffset: 0;
    }
}
