@font-face {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 400;
  src: url("moderat.woff2") format("woff2");
}

:root {
  --color-blue: #1e1f9f;
  --color-beige: #f2cecf;
}

body {
  background: var(--color-blue);
  font-family: "Moderat", sans-serif;
  color: var(--color-beige);
  padding: 0 50px;
}

body > header {
  position: fixed;
  top: 32px;
  left: 48px;
  z-index: 50;
  width: calc(100% - 96px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > header > div {
  position: relative;
  width: 132px;
  aspect-ratio: 132 / 49;

  > a {
    position: absolute;
    inset: 0px;
    background-image: url(./logo.svg);
  }
}

body > header > a {
  margin-top: 8px;
  width: fit-content;
  max-width: 50%;
  padding-right: 48px;
  background-image: url(./next.svg);
  background-position: right;
  background-repeat: no-repeat;
  color: var(--color-beige);
}
body > header > a:hover {
  text-decoration: underline;
}

.logo-visible path {
  fill: var(--color-beige);
}

.mark path {
  fill: var(--color-beige);
}

:is(script, style)[contenteditable="plaintext-only"] {
  display: block;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  color: var(--color-beige);
}
style[contenteditable="plaintext-only"]::before {
  content: "EDITABLE CSS";
  display: block;
  font-size: 10px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  margin-bottom: 8px;
  color: #fff;
}
script[contenteditable="plaintext-only"]::before {
  content: "EDITABLE JS";
  display: block;
  font-size: 10px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  margin-bottom: 8px;
  color: #fff;
}