.target {
  position: fixed;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  border-radius: 32px;
  background-color: var(--color-beige);

  transform: translate(
      calc(var(--x) * 100vw - 50%),
      calc(var(--y) * 100vh - 50%)
    )
    rotate(20deg);
}
