.target {
  position: fixed;
  width: 256px;
  height: 256px;
  border-radius: 128px;
  background-color: var(--color-beige);
  transform: translate(-50%, -50%);
  opacity: 0.5;

  /**
    Moves the element to the cursor position,
    using the css variables we set through the
    script file.
  */
  top: var(--y);
  left: var(--x);
}
