.target {
  position: relative;
  flex: 1;
  aspect-ratio: 3 / 4;

  background-color: var(--color-beige);
  background-image: url(https://images.unsplash.com/photo-1716125583397-e7cc7469c3f2?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: 800ms cubic-bezier(0.5, 0, 0.2, 1);
}

.container::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-beige);
  mix-blend-mode: multiply;
  opacity: 0.1;
}

.container:hover .target {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.target:nth-child(1) {
  transition-delay: 0ms;
}
.target:nth-child(2) {
  transition-delay: 100ms;
}
.target:nth-child(3) {
  transition-delay: 200ms;
}
.target:nth-child(4) {
  transition-delay: 300ms;
}
