section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
}

section span {
  font-size: 16px;
  opacity: 0.5;
}

section h2 {
  font-size: 32px;
}
