.icon:hover .animation-layer {
    opacity: 1;
    animation: dash 0.5s ease-in-out forwards;
}
.icon:hover .animation-out-layer {
    opacity: 1;
    animation: dash-2 0.5s ease-in-out forwards;
}

.icon .animation-layer {
    stroke: #6c98ee;
    animation: dash-out 0.5s ease-in-out forwards;
}
.icon .animation-out-layer {
    opacity: 1;
    transition: all;
    transition-delay: 0s;
    animation: dash-2-out 0.5s ease-in-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    from {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-2-out {
    from {
        stroke-dashoffset: 0;
    }
}
