.target {
  position: relative;
  width: 200px;
  height: 200px;
  transition: 1s filter linear, 1s -webkit-filter linear;
}

.target > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-beige);
  background-image: url(https://images.unsplash.com/photo-1716125583397-e7cc7469c3f2?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.target > span {
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 12px;
  text-align: center;
}

.target > div {
  transition: 1s filter linear, 1s -webkit-filter linear;
}

#target-2 > div {
  transition: 0.5s filter ease-in-out;
  filter: hue-rotate(0deg);
}
#target-2:hover > div {
  filter: hue-rotate(90deg);
}
#target-3 > div {
  transition: 0.5s filter ease-in-out;
  filter: contrast(100%);
}
#target-3:hover > div {
  filter: contrast(175%);
}
#target-4 > div {
  transition: 0.5s filter ease-in-out;
  filter: brightness(100%);
}
#target-4:hover > div {
  filter: brightness(75%);
}
#target-5 > div {
  transition: 0.5s filter ease-in-out;
  filter: blur(0);
}
#target-5:hover > div {
  filter: blur(3px);
}
