.svg-timeline .animation-layer {
    stroke: var(--color-blue);
    animation: dash linear;
    animation-timeline: scroll();
}

@keyframes dash {
    to {
        stroke: var(--color-beige);
        stroke-dashoffset: 0;
    }
}
